
.caveat-regular {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.handlee-regular {
  font-family: "Handlee", serif;
  font-weight: 400;
  font-style: normal;
}


:root{
  font-family: "Caveat", "Handlee", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --base-size: clamp(1rem, 1rem + 1vw, 3.2rem);

}

.allcontainer {

    background-image: linear-gradient(to bottom, transparent 95%, rgb(133, 133, 133) 95%),
                    linear-gradient(to right, #ffffff 95%, rgb(133, 133, 133) 95%);
  background-size: 20px 20px, 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

.header{
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 0.5fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 60%;
  max-height: 15vh;
  margin-bottom: 5vh;
  line-height: 1.3;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  padding: 0;
  position: relative;

}
.player {
  font-size: calc(var(--base-size) * 2.3);
  font-weight: 400;
  position: relative;
}


.underline-svg {
  position: absolute;
  bottom: -0.5vh; 
  left: 0;
  opacity: 0;

}

.underline-svg path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;



}


.animate-draw path {
  animation: draw-line 0.7s ease forwards;
}



/* Animation keyframes */
@keyframes draw-line {
  0% {
    stroke-dashoffset: 100; /* Start with dash offset equal to path length */
  }
  100% {
    stroke-dashoffset: 0; /* Draw line completely */
  }
}

.score {
  font-size: calc(var(--base-size) * 2.3);
  margin-bottom: auto;
}

.changeName.player2{
  grid-column: 4;
  }

.changeName {
  font-size: calc(var(--base-size) * 1.1);
  text-decoration: underline;
  font-weight: 400;
}


.board {
  width: min(50vw, 70vh);
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  background: transparent;



}

.cell {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 /*  font-size: calc(var(--base-size) * 5);
 */

font-size: 2em;

  position: relative;

}





.borderR{
  border-right: 0.3rem black solid;
}

.borderB{
  border-bottom: 0.3rem black solid;
}


.cell:focus {
  outline: 2px solid #003366;
  outline-offset: -2px;
  z-index: 1;
}

.cell:hover {
  background-color: rgba(10, 10, 10, 0.15);
}

.cell:active {
  background-color: rgba(14, 14, 14, 0.3);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin-top: 2vh;
  height: 7vh;
}

.boardSize {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(var(--base-size) * 1.7);
  gap: 2vw;
  margin-right: auto;
}

.signature {
  margin-left: auto;
}

a {
  color: black;
}

.sizeSelector
{
  position: relative;
  padding: 0;
  line-height: 1.2;
}

.underline-svg-bot {
  position: absolute;
  bottom: -0.1vh; 
  left: 0;
  width: 100%; /* Ensures the SVG stretches to the width of the text */
  height: auto; /* Maintain aspect ratio */
}

.underline-svg-bot path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;

}